@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    position: fixed;
    z-index: 999;
    height: 6em;
    width: 6em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.loader__text {
    position: relative;
    margin-top: 1em;
    text-align: center;
    color: #fff;
    font-size: large;
}

.loader::before {
    content: '\A';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}

.loader__spin {
    margin: auto;
    height: 3em;
    width: 3em;
    border: .3em solid #f3f3f3;
    border-radius: 50%;
    border-top: .4em solid #3498db;
    animation: spin 1.4s ease-in-out infinite;
}