.notification {
    position: fixed;
    z-index: 999;
    top: 64px;
    right: 10px;
    width: 300px;
    height: 120px;
    padding: 10px;
    background-color: rgba(173, 216, 230, 0.4);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.notification_error {
    background-color: rgba(255, 0, 0, 0.3);;
}

.notification__header {
  color: green;
}

.notification__header_error {
  color: red;
}

.notification__close-button {
    float: right;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    text-align: center;
    color: black;
    border-radius: 50%;
    border: 1px solid #f0f0f0;
}
